#form {
    margin: auto;
}
.example-form {
    min-width: 150px;
    max-width: 610px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
mat-checkbox {
  margin-left: auto;
}
mat-list-item {
  background-color: blanchedalmond;
  border-radius: 5px;
  margin: 5px;
}
#submit {
  margin: 25px;
  width: 150px;
  padding: 10px;
  background-color: #DAF7A6;
  border:none;
  cursor: pointer;
  font-weight: 300;
  font-size: large;
  font-family:Arial, Helvetica, sans-serif;
}