<div id="form">
    <form class="example-form" id="formulaire">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Tasks</mat-label>
          <input matInput id="tasks_input" placeholder="Ex. Pizza" value="" autocomplete="off">
        </mat-form-field>
        <input type="submit"  value="Add">
    </form>
</div>
<div>
  <mat-list>
    <mat-list-item *ngFor="let task of taskList">{{ task }} <mat-checkbox (click)="done(task)"></mat-checkbox> </mat-list-item>
  </mat-list>
</div>